<h1>Search!</h1>

<nav class="users-search">
  <label for="">Search for a User
    <input type="text" name="user[username]" value="" placeholder="Enter Username">
  </label>
  
  <!-- <input type="submit" value="Search"> -->
  
  <label for="">Results
    <ul class="users">
      
    </ul>
  </label>
</nav>

<!-- <ul>
  <% @users.each do |user| %>
    <li>
      <a href="<%= user_url(user) %>"><%= user.username %></a>
      <%= render 'follows/form', user: user %>
    </li>
  <% end %>
</ul> -->
